<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Moolah" type="Moolah.MoolahConfiguration, Moolah"/>
  </configSections>

  <Moolah xmlns="urn:MoolahConfiguration">
    <!-- These values are used in integration tests! -->
    <DataCashMoTo environment="Test" merchantId="motoMerchantId" password="motoPassword" />
    <DataCash3DSecure environment="Test" merchantId="3dsMerchantId" password="3dsPassword" merchantUrl="3dsMerchantUrl" purchaseDescription="3dsPurchaseDescription" />
    <PayPal environment="Test" userId="paypalUserId" password="paypalPassword" signature="paypalSignature" localeCode="paypalLocaleCode" useLocaleFromCurrentCulture="true" />
    <GoogleCheckout environment="Test" merchantId="googleMerchantId" merchantKey="googleMerchantKey" />
  </Moolah>
</configuration>